<h1>EDIT ARTICLE</h1>
<!-- embedded ruby in _form.html.erb -->
<!-- also in edit.html.erb -->

<%= render 'form' %>

<%= link_to 'Back', articles_path %>

<% if policy(@article).update? %>
  <%= link_to "Edit article", edit_article_path(@article) %>
  <%= link_to "Delete article", edit_article_path(@article) %>
<% end %>