<h1>Articles for ...</h1>

<div class="col-sm-6">
  <ul class="list-group">
  	<%= link_to params[:location], '#', class: "list-group-item active" %>
    <% @articles.each do |article| %>
      <div id="article_id-<%= article.id %>">
        <li class="list-group-item"><%= link_to article.title, article %>
        <span class="badge"><%= link_to 'Delete', article_path(article), method: :delete, remote: true %></span>
        </li>
      </div>      
    <% end %>
  </ul>
</div>