body {
  min-height: 2000px;
  padding-top: 70px;
}

.jumbotron {
    margin-bottom: 0px;
    background-image: url(http://www.travelandleisure.com/assets/images/2012-hpp-bali-high.jpg/variations/original.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    padding: 150px;
}


a {
  color: black;
}

#how-it-works button{

}


#loggedin {
  padding-top: 16px;
  padding-right: 10px;
}

/*profile*/

.profile {
  text-align: center;
}

/*new article*/

.newtrip {
  font-size: 70px;
}

.imagelabel {
  color: #E36D2D;
  font-size: 20px;
  margin-left: 25px;
  border-top: 2px;
}

.line-separator{
  height:1px;
  background: #ACD8CB;
  border-bottom: 2px solid #ACD8CB;
  width: 400px;
  margin-left: 15px;
  margin-top: 10px;
}

.choose-image {
  margin-left: 15px;
}


